<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="nugetizer" value="https://ci.appveyor.com/nuget/nugetizer3000" />
		<add key="offline" value="%userprofile%\.nuget\packages" />
    <add key="roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
  </packageSources>
</configuration>
